body
{
    font-size: 22;
    color: #333;
    text-align: left;
    font-family: 'Papyrus', sans-serif;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1.5em;
    text-align: right;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
    font-family: 'Courier New', Courier;
}
